.wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  z-index: -1;
}

.wrapper::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 101%;
  height: 101%;

  background-repeat: no-repeat;
  background-image:
    linear-gradient(
      to right,
      rgb(19, 19, 20),
      rgba(19, 19, 20, 0.984) 0.97%,
      rgba(19, 19, 20, 0.945) 2.07833%,
      rgba(19, 19, 20, 0.882) 3.29667%,
      rgba(19, 19, 20, 0.804) 4.60167%,
      rgba(19, 19, 20, 0.71) 5.96667%,
      rgba(19, 19, 20, 0.608),
      rgba(19, 19, 20, 0.5),
      rgba(19, 19, 20, 0.396) 10.16%,
      rgba(19, 19, 20, 0.294) 11.505%,
      rgba(19, 19, 20, 0.204) 12.78%,
      rgba(19, 19, 20, 0.12) 13.9583%,
      rgba(19, 19, 20, 0.06) 15.0167%,
      rgba(19, 19, 20, 0.016) 15.9283%,
      rgba(19, 19, 20, 0) 16.6667%,
      rgba(19, 19, 20, 0) 83.3333%,
      rgba(19, 19, 20, 0.016) 84.0717%,
      rgba(19, 19, 20, 0.06) 84.9833%,
      rgba(19, 19, 20, 0.12) 86.0417%,
      rgba(19, 19, 20, 0.204) 87.22%,
      rgba(19, 19, 20, 0.294) 88.495%,
      rgba(19, 19, 20, 0.396) 89.84%,
      rgba(19, 19, 20, 0.5),
      rgba(19, 19, 20, 0.608),
      rgba(19, 19, 20, 0.71) 94.0333%,
      rgba(19, 19, 20, 0.804) 95.3983%,
      rgba(19, 19, 20, 0.882) 96.7033%,
      rgba(19, 19, 20, 0.945) 97.9217%,
      rgba(19, 19, 20, 0.984) 99.03%,
      rgb(19, 19, 20)
    ),
    linear-gradient(
      to top,
      rgb(19, 19, 20),
      rgb(19, 19, 20) 21.4815%,
      rgba(19, 19, 20, 0.984) 23.637%,
      rgba(19, 19, 20, 0.945) 26.1%,
      rgba(19, 19, 20, 0.882) 28.8074%,
      rgba(19, 19, 20, 0.804) 31.7074%,
      rgba(19, 19, 20, 0.71) 34.7407%,
      rgba(19, 19, 20, 0.608),
      rgba(19, 19, 20, 0.5) 40.9741%,
      rgba(19, 19, 20, 0.396) 44.0593%,
      rgba(19, 19, 20, 0.294) 47.0481%,
      rgba(19, 19, 20, 0.204) 49.8815%,
      rgba(19, 19, 20, 0.12) 52.5%,
      rgba(19, 19, 20, 0.06) 54.8519%,
      rgba(19, 19, 20, 0.016) 56.8778%,
      rgba(19, 19, 20, 0) 58.5185%,
      rgba(19, 19, 20, 0.82)
    );
}
