@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #dc2626;
  --color-primary-dark: #7f1d1d;
  --color-grey-primary: #71717a;
  --color-grey-secondary: #27272a;
  --color-grey-tertiary: #18181b;
  --color-background-default: #131314;
  --color-text-default: oklch(0.92 0.004 286.32);
  --font-exo: "Exo 2";
}

@layer base {
  select:focus,
  input:focus {
    outline: none;
    outline: 2px solid;
    outline-color: var(--color-primary);
  }

  * {
    transition-duration: 300;
  }
}

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* the slides */
.slick-slide {
  padding: 0 4px;
}

.imdb {
  display: inline-block;
  width: 42px;
  height: 42px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M0 7v18h32V7zm2 2h28v14H2zm3 2.688v8.624h2v-8.625zm3.094 0v8.624H10V15.5l.906 4.813h1.281L13 15.5v4.813h1.813v-8.625H12l-.5 4.124l-.688-4.124zm7.812 0v8.5h2.406c1.301 0 1.79-.2 2.188-.5c.398-.2.594-.688.594-1.188v-5.188c0-.601-.196-1.113-.594-1.312c-.5-.2-.688-.313-2.188-.313zm6.188.124v8.5h1.812s.086-.601.188-.5c.199 0 1.008.375 1.406.375c.5 0 .7.008 1-.093c.398-.2.5-.48.5-.782v-5c0-.699-.71-1.218-1.313-1.218c-.601 0-1.175.394-1.375.594v-1.876zM18 13c.398 0 .813.008.813.406v5c0 .399-.512.407-.813.407zm6.594 1c.101 0 .218.105.218.406v4.281c0 .2-.019.407-.218.407c-.102 0-.188-.106-.188-.407v-4.28c0-.2-.011-.407.188-.407'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ant-image-preview-footer,
.ant-image-preview-close {
  display: none;
}

.active span {
  color: var(--color-primary);
}

.ant-drawer-close {
  width: 48px;
  height: 48px;
}

.ant-popover-inner,
.ant-popconfirm-title {
  font-family: "Exo 2";
  color: var(--color-text-default) !important;
  background-color: var(--color-grey-secondary) !important;
}

.ant-btn,
.ant-btn-variant {
  font-family: "Exo 2";
  background-color: var(--color-primary) !important;
  outline: 2px solid var(--color-primary);
  border-radius: 15px;
  border: none;
}

.ant-btn:hover,
.ant-btn-variant:hover {
  background-color: transparent !important;
  color: var(--color-primary) !important;
}
.ant-popconfirm-message-icon svg {
  display: none;
}

.ant-popover-arrow::before {
  background: var(--color-primary) !important;
}

.ant-spin-dot-item {
  color: var(--color-primary);
}
